<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>web - %date [%thread] %-5level %logger{36} - %message%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="DEBUG" />

    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.application.configuration" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.streamdomain.model" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.application.service" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.application.handler" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.application.handler.controller" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.infrastructure.store" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.infrastructure.controller" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.infrastructure.controller.kafka" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.infrastructure.repository" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.infrastructure.cache" level="DEBUG" />
    <logger name="com.redhat.jbuenosv.ocpmicroservicesddd.sales.stock.stream.infrastructure.listener" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
